<style>
.foot {
    width: 100%;
    background: #1F1B1C;
    height: 441px
}

.foot .content {
	height: 441px;
    background: url("../imgs/foot.png") no-repeat center center;
}
</style>

<div class="foot">
    <div class="content"></div>
</div>